fastapi
uvicorn[standard]
pdfplumber
spacy==3.7.2
scikit-learn
sentence-transformers==2.2.2
python-multipart
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
